In [3]:
import pandas as pd

df = pd.read_csv('/Users/nalor/Documents/Data Set/Cervical DataSet_Int_Columns.csv')
df.head()

,Patient,Age,Number of sexual partners,First sexual intercourse,Smokes (years),Smokes (packs/year),Hormonal Contraceptives (years),IUD (years),STDs (number),STDs: Number of diagnosis
0,1,25,2.51,17.1,0.0,0.0,3.00,0.00,0,0
1,2,23,4.00,16.0,0.0,0.0,2.23,0.00,2,1
2,3,23,2.00,27.0,0.0,0.0,0.00,0.51,0,0
3,4,21,2.51,16.0,0.0,0.0,0.00,0.00,0,0
4,5,29,2.51,14.0,0.0,0.0,0.00,0.00,0,0

In [4]:
df.describe()

,Patient,Age,Number of sexual partners,First sexual intercourse,Smokes (years),Smokes (packs/year),Hormonal Contraceptives (years),IUD (years),STDs (number),STDs: Number of diagnosis
count,728.000000,728.000000,728.000000,728.000000,728.000000,728.000000,728.000000,728.000000,728.000000,728.000000
mean,364.500000,27.247253,2.515302,17.106593,1.239831,0.462542,2.231860,0.513709,0.162088,0.089286
std,210.299786,8.722333,1.620166,2.850900,4.177026,2.316773,3.655276,1.947899,0.543656,0.304023
min,1.000000,13.000000,1.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,182.750000,21.000000,2.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,364.500000,26.000000,2.000000,17.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000
75%,546.250000,33.000000,3.000000,18.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000
max,728.000000,84.000000,28.000000,32.000000,37.000000,37.000000,22.000000,19.000000,4.000000,3.000000

In [5]:
df.median()

Patient                            364.5
Age                                 26.0
Number of sexual partners            2.0
First sexual intercourse            17.0
Smokes (years)                       0.0
Smokes (packs/year)                  0.0
Hormonal Contraceptives (years)      0.5
IUD (years)                          0.0
STDs (number)                        0.0
STDs: Number of diagnosis            0.0
dtype: float64